h1{
    color: khaki;background-color: lawngreen;text-align: center;
}
h2{
    color: red;background-color: yellow;text-align: right;
}
h3{
    color: yellowgreen;background-color: violet;
}
p{color: blue;border: cadetblue;border-radius: 10px  20px 40px 60px;border-style: ridge;

}
#vuday{
    color: chartreuse;
}
#bebod{
    color: cyan;background-color: darkgreen;
}